aws_region               = "us-east-1"
environment              = "dev"
raw_bucket_name          = "company-churn-raw-dev"
curated_bucket_name      = "company-churn-curated-dev"
artifact_bucket_name     = "company-churn-artifacts-dev"
glue_script_s3_uri       = "s3://company-churn-artifacts-dev/glue/etl_pyspark.py"
sagemaker_image_uri      = "123456789012.dkr.ecr.us-east-1.amazonaws.com/churn-inference:latest"
sagemaker_model_data_url = "s3://company-churn-artifacts-dev/models/champion/model.tar.gz"

snowflake_organization_name = "my_org"
snowflake_account_name      = "my_account"
snowflake_user              = "CHURN_ML_TERRAFORM"
snowflake_password          = "change-me"
snowflake_role              = "SYSADMIN"
